@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&family=Pixelify+Sans:wght@700&display=swap");

html {
  -webkit-tap-highlight-color: transparent;
}

@layer components {
  .bg-grad {
    @apply bg-gradient-to-r from-yellow-400 to-orange-400;
  }
}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.home-slider .swiper {
  padding: 0 10px 0 10px !important;
  margin-top: 15px;
}

.swiper-slide-shadow-coverflow {
  display: none !important;
}

.home-slider .swiper .swiper-wrapper {
  overflow: visible !important;
}

.home-slider .swiper .swiper-slide {
  overflow: visible !important;
}

.bottom-slider .swiper {
  padding: 0 20px 0 20px !important;
  margin-top: 15px;
}

@media (min-width: 1024px) {
  .home-slider .swiper {
    padding: 0 !important;
  }
}

@media (min-width: 740px) {
}
